:root {
  --colorFisca: #3f82f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--colorFisca);
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > img {
    margin-top: 20px;
    width: 100px;
  }
  #textoPpu {
    width: 90%;
    border-radius: 20px;
    font-size: 1.5rem;
    border: none;
    text-align: center;
  }
  #buscar,
  #resetear {
    margin-top: 10px;
    background: linear-gradient(to right, #196bca, #6433e0);
    background-color: #196bca;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 8px 10px;
    border: 0px solid #000;
    border-radius: 20px;
    display: inline-block;
  }
  #buscar:active,
  #resetear:active {
    transform: scale(0.95);
  }

  .texto {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 6px;
    font-size: 1rem;
  }
}
.respuesta {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.fiscaliza {
  transform: translateY(-120px);
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
